# macOS
.DS_Store

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.swo
*.bak
*.orig
*.rej

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.iml


# PIDs
*.pid
*.pid.lock
*.pidfile

#environment files
env/
